# Important: Run this code cell each time you start a new session!

In [1]:
!pip install os
import os
import numpy as np
import pandas as pd

ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os

In [2]:
# Download some files of a sepsis dataset
sepsis_folder = "sepsis_dataset"
if not os.path.exists(sepsis_folder):
    os.mkdir(sepsis_folder)
patient_list = range(1, 11)
patient_list = [f'p{str(s).zfill(6)}.psv' for s in patient_list]
for f in patient_list:
  !wget -nc https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/{f}
  os.rename(f, os.path.join(sepsis_folder, f))

--2025-11-05 20:25:28--  https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/p000001.psv
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9062 (8.8K) [text/plain]
Saving to: ‘p000001.psv’

p000001.psv         100%[===================>]   8.85K  --.-KB/s    in 0s

2025-11-05 20:25:28 (207 MB/s) - ‘p000001.psv’ saved [9062/9062]

--2025-11-05 20:25:28--  https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/p000002.psv
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3864 (3.8K) [text/plain]
Saving to: ‘p000002.psv’

p000002.psv         100%[===================>]   3.77K  --.-KB/s    in 0s

2025-11-05 20:25:29 (614 MB/s) - ‘p000002.psv’ saved [3864/3864]

--2025-11-05 20:25:29--  https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/p000003.psv
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7928 (7.7K) [text/plain]
Saving to: ‘p000003.psv’

p000003.psv         100%[===================>]   7.74K  --.-KB/s    in 0s

2025-11-05 20:25:29 (2.78 GB/s) - ‘p000003.psv’ saved [7928/7928]

--2025-11-05 20:25:29--  https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/p000004.psv
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4870 (4.8K) [text/plain]
Saving to: ‘p000004.psv’

p000004.psv         100%[===================>]   4.76K  --.-KB/s    in 0s

2025-11-05 20:25:30 (1.25 GB/s) - ‘p000004.psv’ saved [4870/4870]

--2025-11-05 20:25:30--  https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/p000005.psv
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7850 (7.7K) [text/plain]
Saving to: ‘p000005.psv’

p000005.psv         100%[===================>]   7.67K  --.-KB/s    in 0s

2025-11-05 20:25:30 (3.05 GB/s) - ‘p000005.psv’ saved [7850/7850]

--2025-11-05 20:25:30--  https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/p000006.psv
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2982 (2.9K) [text/plain]
Saving to: ‘p000006.psv’

p000006.psv         100%[===================>]   2.91K  --.-KB/s    in 0s

2025-11-05 20:25:31 (1.23 GB/s) - ‘p000006.psv’ saved [2982/2982]

--2025-11-05 20:25:31--  https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/p000007.psv
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7330 (7.2K) [text/plain]
Saving to: ‘p000007.psv’

p000007.psv         100%[===================>]   7.16K  --.-KB/s    in 0s

2025-11-05 20:25:31 (2.63 GB/s) - ‘p000007.psv’ saved [7330/7330]

--2025-11-05 20:25:31--  https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/p000008.psv
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6640 (6.5K) [text/plain]
Saving to: ‘p000008.psv’

p000008.psv         100%[===================>]   6.48K  --.-KB/s    in 0s

2025-11-05 20:25:31 (2.13 GB/s) - ‘p000008.psv’ saved [6640/6640]

--2025-11-05 20:25:32--  https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/p000009.psv
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41796 (41K) [text/plain]
Saving to: ‘p000009.psv’

p000009.psv         100%[===================>]  40.82K  --.-KB/s    in 0.02s

2025-11-05 20:25:32 (2.40 MB/s) - ‘p000009.psv’ saved [41796/41796]

--2025-11-05 20:25:32--  https://physionet.org/files/challenge-2019/1.0.0/training/training_setA/p000010.psv
Resolving physionet.org (physionet.org)... 18.18.42.54
Connecting to physionet.org (physionet.org)|18.18.42.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3842 (3.8K) [text/plain]
Saving to: ‘p000010.psv’

p000010.psv         100%[===================>]   3.75K  --.-KB/s    in 0s

2025-11-05 20:25:33 (1.32 GB/s) - ‘p000010.psv’ saved [3842/3842]

In [3]:
# Convert the sepsis dataset to a single csv
def load_single_file(file_path):
    df = pd.read_csv(file_path, sep="|")
    df['PatientID'] = file_path.split(os.sep)[-1][:-4]
    df['Hour'] = df.index
    keep_cols = ['PatientID', 'Age', 'Gender', 'SepsisLabel', 'Hour',
                 'HR', 'O2Sat', 'SBP', 'DBP', 'Resp']
    df = df[keep_cols]
    df.rename(columns={'Gender': 'Sex', 'SepsisLabel': 'HasSepsis'}, inplace=True)
    return df

def create_final_table(patient_list):
    final_df = pd.DataFrame()
    for f in patient_list:
        df = load_single_file(os.path.join(sepsis_folder, f))
        final_df = pd.concat([final_df, df])
    final_df.to_csv('sepsis.csv',index=False)
create_final_table(patient_list)

In [4]:
import os, datetime, json, locale, pathlib, urllib, requests, werkzeug, nbformat, google, yaml, warnings
def colab2pdf():
    locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
    NAME = pathlib.Path(werkzeug.utils.secure_filename(urllib.parse.unquote(requests.get(f"http://{os.environ['COLAB_JUPYTER_IP']}:{os.environ['KMP_TARGET_PORT']}/api/sessions").json()[0]["name"])))
    TEMP = pathlib.Path("/content/pdfs") / f"{datetime.datetime.now().strftime('%Y%m%d_%H%M%S')}_{NAME.stem}"; TEMP.mkdir(parents=True, exist_ok=True)
    NB = [cell for cell in nbformat.reads(json.dumps(google.colab._message.blocking_request("get_ipynb", timeout_sec=30)["ipynb"]), as_version=4).cells if "--Colab2PDF" not in cell.source]
    warnings.filterwarnings('ignore', category=nbformat.validator.MissingIDFieldWarning)
    with (TEMP / f"{NAME.stem}.ipynb").open("w", encoding="utf-8") as nb_copy: nbformat.write(nbformat.v4.new_notebook(cells=NB or [nbformat.v4.new_code_cell("#")]), nb_copy)
    if not pathlib.Path("/usr/local/bin/quarto").exists():
        !wget -q "https://quarto.org/download/latest/quarto-linux-amd64.deb" -P {TEMP} && dpkg -i {TEMP}/quarto-linux-amd64.deb > /dev/null && quarto install tinytex --update-path --quiet
    with (TEMP / "config.yml").open("w", encoding="utf-8") as file: yaml.dump({'include-in-header': [{"text": r"\usepackage{fvextra}\DefineVerbatimEnvironment{Highlighting}{Verbatim}{breaksymbolleft={},showspaces=false,showtabs=false,breaklines,breakanywhere,commandchars=\\\{\}}"}],'include-before-body': [{"text": r"\DefineVerbatimEnvironment{verbatim}{Verbatim}{breaksymbolleft={},showspaces=false,showtabs=false,breaklines}"}]}, file)
    !quarto render {TEMP}/{NAME.stem}.ipynb --metadata-file={TEMP}/config.yml --to pdf -M latex-auto-install -M margin-top=1in -M margin-bottom=1in -M margin-left=1in -M margin-right=1in --quiet
    google.colab.files.download(str(TEMP / f"{NAME.stem}.pdf"))

# Instructions

Please complete all of the exercises below. Across this module, some of the exercises are expected to produce very specific outputs, while others may have a variety of reasonable answers.

# Exercise 1: Examining a Numpy Array

**(Part 1)** Create an Numpy array with the following values:

<table>
  <tr>
    <td>3</td>
    <td>1</td>
    <td>7</td>
  </tr>

  <tr>
    <td>6</td>
    <td>10</td>
    <td>4</td>
  </tr>
</table>

In [5]:
x = np.array([[3,1,7], [6,10,4]])
print(x)

[[ 3  1  7]
 [ 6 10  4]]

**(Part 2)** What are the dimensions of this array? In other words, how many rows and columns does it have?

Write your answer here: 2

1.   rows: 2
2.   collumns: 3

**(Part 3)** Write code that will print out the number of rows in the array.

In [11]:
print(x.shape)
#this is telling us the size of the array along each axis (i.e., direction)
print(x.shape[0])
#grab the first value of

(2, 3)
2

**(Part 4)** Write code that will index into the array and retrieve the value `7`.

In [9]:
print(x[0, 2])

7

**(Part 5)** Write code that will index into the array and retrieve the first row (`[3, 1, 7]`).

In [15]:
print((x[0]))

[3 1 7]

**(Part 6)** Write code that will index into the array and retrieve the first two columns (`[[3, 1], [6, 10]]`).

In [16]:
print((x[0:2,0:2]))

[[ 3  1]
 [ 6 10]]

**(Part 7)** Write code that will produce the sum along each column of the array and multiply it by 4.

In [31]:

print(f'Sum along the rows: {np.sum(x, axis=1)*4}')

Sum along the rows: [44 80]

# Exercise 2: Creating a Numpy Array

In this exercise, you will be asked to create the following array using multiple methods:

<table>
  <tr>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>

  <tr>
    <td>0</td>
    <td>5</td>
    <td>10</td>
    <td>15</td>
    <td>20</td>
    <td>25</td>
  </tr>
</table>

Notice that the bottom row is equal to the top row multiplied by 5.

**(Part 1)** Write code that will create the array using `np.array()` with a list as the input.

In [35]:
x = np.array([[0, 1, 2, 3, 4, 5], [0, 5, 10, 15, 20, 25]])
print(x)

[[ 0  1  2  3  4  5]
 [ 0  5 10 15 20 25]]

**(Part 2)** Write code that will create the array by combining the two arrays provided below.

In [44]:
row1 = np.array([0, 1, 2, 3, 4, 5])
row2 = np.array([0, 5, 10, 15, 20, 25])
y = np.concatenate((row1[np.newaxis, :], row2[np.newaxis, :]), axis=0)
print(y)

[[ 0  1  2  3  4  5]
 [ 0  5 10 15 20 25]]

**(Part 3)** Write code that will create the array using a similar approach to what you used in **(Part 2)**, but create `row1` and `row2` using `np.arange()` and basic arithmetic. In other words, create `row1` and `row2` without needing to type each individual list element.

In [51]:
z = np.array([[np.arange(0, 6, step=1)], [np.arange(0, 30, step=5)]])
print(z)

[[[ 0  1  2  3  4  5]]

 [[ 0  5 10 15 20 25]]]

**(Part 4)** Write code that will fill in the provided empty array of zeroes with the values of the target array using at least one `for` loop.

*Hint:* You could either do a single `for` loop that fills in one column per iteration, or you could do a double-nested `for` and `if` statements to fill in one value at a time.

In [63]:
arr = np.zeros((2, 6)) #2 rows, 6 collums
print (arr)

for i in range(6): #loop willl repeat 6 times
    arr[0, i] = i #through first row, make the value equal to the collumn number
    arr[1, i] = i * 5 #through second row, make the value equal to the collumn number times 5

print(arr)

[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]
[[ 0.  1.  2.  3.  4.  5.]
 [ 0.  5. 10. 15. 20. 25.]]

# Exercise 3: Examining a Pandas DataFrame

This exercise will involve a `DataFrame` similar to the one we used in class.

*Important:* Note that the patients in this DataFrame are represented across multiple rows corresponding to different hours when measurements were taken.

In [56]:
df = pd.read_csv("sepsis.csv")
df

    PatientID    Age  Sex  HasSepsis  Hour     HR  O2Sat    SBP   DBP  Resp
0     p000001  83.14    0          0     0    NaN    NaN    NaN   NaN   NaN
1     p000001  83.14    0          0     1   97.0   95.0   98.0   NaN  19.0
2     p000001  83.14    0          0     2   89.0   99.0  122.0   NaN  22.0
3     p000001  83.14    0          0     3   90.0   95.0    NaN   NaN  30.0
4     p000001  83.14    0          0     4  103.0   88.5  122.0   NaN  24.5
..        ...    ...  ...        ...   ...    ...    ...    ...   ...   ...
580   p000010  76.71    0          0    18   82.0   96.0  109.0  50.0  20.0
581   p000010  76.71    0          0    19   79.0   94.0   97.0  49.0  21.0
582   p000010  76.71    0          0    20   79.0   90.0  117.0  54.0  19.0
583   p000010  76.71    0          0    21   84.0   91.0  124.0  59.0  23.0
584   p000010  76.71    0          0    22   79.0   92.0  113.0  53.0  23.0

[585 rows x 10 columns]

**(Part 1)** Write code that will show the number of patients in the dataset.

In [ ]:
# Write your code here

**(Part 2)** Write code that will show the number of male (`0`) and female (`1`) patients in the dataset.

In [ ]:
# Write your code here

**(Part 3)** Write code that will print out the ID of the oldest patient.

In [ ]:
# Write your code here

**(Part 4)** Write code that prints out who experienced sepsis and at which hours it was reported. In other words, retrieve the `PatientID` and `Hour` values for all rows for which `'HasSepsis' == 1`.

In [ ]:
# Write your code here

**(Part 5)** Write code that will calculate the average age of all the patients.

In [ ]:
# Write your code here

# Prepare Submission

To get full credit for this assignment, you should submit your assignment in two formats so that we can easily grade and debug your code:
1. **.ipynb:** First, confirm that your code can run from start to finish without any errors. To check this, go to "Runtime" > "Run all" in the Google Colab menu. If everything looks good, you can export your file by going to "File" > "Download" > "Download .ipynb".
2. **.pdf:** Run the function called `colab2pdf()` below. This will automatically convert your notebook to a PDF. Note that while "File" > "Print" > "Save as PDF" also works, it requires you to manually expand all of the cells and may cut off some images.

In [ ]:
colab2pdf()